@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  overscroll-behavior: none;
  font-size: 1em;
}

html,
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.hexagon {
  position: relative;
  width: 111px;
  height: 63px;
  background-color: #ffffff;
  border-left: solid 1px #dddddd; /* 왼쪽 중간 */
  border-right: solid 1px #dddddd; /* 오른쪽 중간 */
  float: left;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 15px;
  width: 77.492px;
  height: 77.492px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
}

.hexagon:before {
  top: -39px;
  border-top: solid 1px #dddddd; /* 왼쪽 상단 */
  border-right: solid 1px #dddddd; /* 오른쪽 상단 */
}

.hexagon:after {
  bottom: -39px;
  border-left: solid 1px #dddddd; /* 왼쪽 하단 */
  border-bottom: solid 1px #dddddd; /* 오른쪽 하단 */
}
