@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  overscroll-behavior: none;
  font-size: 1em;
}

html,
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --w3m-font-family: "Kanit" !important;
  --w3m-font-size-master: 10px !important;
  --wui-font-weight-regular: 400 !important;
  --wui-font-weight-medium: 400 !important;
  --wui-font-weight-bold: 400 !important;
  --w3m-accent: #338a46 !important;
  --w3m-border-radius-master: 1px !important;
  --wui-font-size-paragraph: 16px !important;
  /* --wui-spacing-l: 74px !important; */
}

/* -60 <= vely < -20 */
.hexagon {
  position: relative;
  width: 111px;
  height: 63px;
  background-color: #ffffff;
  border-left: solid 1px #dddddd; /* 왼쪽 중간 */
  border-right: solid 1px #dddddd; /* 오른쪽 중간 */
  float: left;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 15px;
  width: 77.492px;
  height: 77.492px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
}

.hexagon:before {
  top: -39px;
  border-top: solid 1px #dddddd; /* 왼쪽 상단 */
  border-right: solid 1px #dddddd; /* 오른쪽 상단 */
}

.hexagon:after {
  bottom: -39px;
  border-left: solid 1px #dddddd; /* 왼쪽 하단 */
  border-bottom: solid 1px #dddddd; /* 오른쪽 하단 */
}

/* -20 <= vely <= 20 */
.hexagon-green {
  width: 114px;
  height: 69px;
  border-left: solid 3px #338a46; /* 왼쪽 중간 */
  border-right: solid 3px #338a46; /* 오른쪽 중간 */
}

.hexagon-green:before,
.hexagon-green:after {
  left: 14px;
  width: 76px;
  height: 76px;
}

.hexagon-green:before {
  top: -40px;
  border-top: solid 4px #338a46; /* 왼쪽 상단 */
  border-right: solid 4px #338a46; /* 오른쪽 상단 */
}

.hexagon-green:after {
  bottom: -40px;
  border-left: solid 4px #338a46; /* 왼쪽 하단 */
  border-bottom: solid 4px #338a46; /* 오른쪽 하단 */
}

.hexagon-green > img {
  top: -16px;
}

.hexagon-green + h1 {
  color: #338a46;
}

/* 20 < vely <= 60 */
.hexagon-aurora {
  width: 114px;
  height: 69px;
  border-left: solid 3px; /* 왼쪽 중간 */
  border-right: solid 3px; /* 오른쪽 중간 */
  border-image: linear-gradient(90deg, #04d980 0%, #e9d11c 100%);
  border-image-slice: 1;
}

.hexagon-aurora:before,
.hexagon-aurora:after {
  left: 14px;
  width: 76px;
  height: 76px;
}

.hexagon-aurora:before {
  top: -40px;
  border-top: solid 4px; /* 왼쪽 상단 */
  border-right: solid 4px; /* 오른쪽 상단 */
  border-image: linear-gradient(135deg, #04d980 0%, #de3e8c 50%, #e9d11c 100%);
  border-image-slice: 1;
}

.hexagon-aurora:after {
  bottom: -40px;
  border-left: solid 4px; /* 왼쪽 하단 */
  border-bottom: solid 4px; /* 오른쪽 하단 */
  border-image: linear-gradient(135deg, #04d980 0%, #de3e8c 50%, #e9d11c 100%);
  border-image-slice: 1;
}

.hexagon-aurora > img {
  top: -16px;
}

.hexagon-aurora + h1 {
  color: #ed348d;
}
